[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "tests/wycheproof"]
	path = tests/wycheproof
	url = https://github.com/C2SP/wycheproof.git
